# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains project settings for Visual Studio Code.
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolic links
*.lnk

# Android Studio / IntelliJ
*.ijwb

# Android build artifacts
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/app/build/
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/assets/fonts/
/android/app/src/main/assets/shaders/
/android/app/src/main/res/drawable-*/app_icon.png
/android/app/src/main/res/mipmap-*/app_icon.png

# iOS/XCode related
.iOS/
.macos/
.iOS/Flutter/.last_build_id
.iOS/Runner/*.mode1v3
.iOS/Runner/*.pbxuser
.iOS/Runner/*.perspectivev3
.iOS/Runner/.schemes/
.iOS/Runner/xcuserdata/
.iOS/Runner/Profile/
.iOS/Runner/Classes/
.iOS/Runner/Assets.xcassets/
.iOS/Runner/Assets.car
.iOS/Runner/fastlane/
.iOS/Runner/GeneratedPluginRegistrant.h
.iOS/Runner/GeneratedPluginRegistrant.m
.iOS/Runner/Runner-Bridging-Header.h
.iOS/Runner/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.iOS/Runner/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
.iOS/Runner/Runner.xcodeproj/xcuserdata/
.iOS/Runner/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
.iOS/Runner/Runner.xcworkspace/xcuserdata/
